<connectionStrings>
  <add name="local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=Clasificados;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="remote" connectionString="Server=a26496fc-8db6-4cd5-b191-a3fa00693591.sqlserver.sequelizer.com;Database=dba26496fc8db64cd5b191a3fa00693591;User ID=fyfoapmekqlsyzlw;Password=rDtkVxdTszqKJiXB4x6cewXribob4bj2ZfFRDrKW4BqHu2HpW7XHazW4PcbUjbYr;"/>
</connectionStrings>