<connectionStrings>
  <add name="local" connectionString="Data Source=(localdb)\Projects;Initial Catalog=Clasificados;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"/>
  <add name="remote" connectionString="server=59d252bb-4f71-43b8-8f5a-a3d9003fa143.mysql.sequelizer.com;database=db59d252bb4f7143b88f5aa3d9003fa143;uid=nnmuuomfzbudbsrf;pwd=yUXcsfrnspKXHxTBt2Jn4Po3ZqXN7CtDhowF2bnznqDG6NNGruWkhBsRE5kcpLpW"/>
</connectionStrings>