@using Domain.Entities
@model MiPrimerMVC.Models.ContactModel
@{
    Layout = "~/Views/Shared/_AuxLayout.cshtml";
}

<h1>ANSWER FAQS</h1>
@foreach (var faq in Model.Preguntas)
{    
    if (!@faq.IsAnswered)
    { 
        using (Html.BeginForm("AnswerFaq", "Admin", null))
        {
            <div class="well">
                <h3>@faq.Message</h3>
                <p>By @faq.Name</p>
                @Html.ActionLink("Answer Quesion", "AnswerView","Admin", new { @id = @faq.Id }, null)
           </div>
       }
    }
}