@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_BasicLayout.cshtml";
}

<div class="jumbotron">
    <h1>Clasificados Etwas-Kreatives</h1>
    <h2> Your favorite trade plataform. Someone else's crap, can be yours!</h2>
    <p class="btn btn-primary" >  &raquo;</p>
    
    @Html.ActionLink("Register", "Register", "Guest")
    
    
    <a href="<%: Url.Action(" Register", "Guest" ) %>
        ">
        <button>Button Text</button>
    </a>

</div>